<h2>List of Books</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Author</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let book of books" >
    <td>{{book.id}}</td>
    <td>{{book.name}}</td>
    <td>{{book.author}}</td>
  </tr>
  </tbody>
</table>
